/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body {
  background: linear-gradient(135deg, #29446d, #589cb4, #ffffff);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
  /* max-width: 450px; */
  padding: 20px;
}

.box {
  width: 100%;
  background: rgb(88, 59, 59);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
  gap: .9rem;
  width: 100%;
}
/* SEARCH BAR */
.search input {
  padding: 12px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 16px;
  margin-bottom: 15px;
  background: rgb(105, 53, 53);
  color: #fff;
  &::placeholder{
    color: white;
  }
}

/* ERROR TEXT */
.error {
  color: #ff4444;
  font-weight: bold;
  margin-bottom: 15px;
}

/* MAIN HEADING */
.box h2 {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 600;
}

.box p {
  opacity: 0.8;
  margin-bottom: 10px;
}

/* WEATHER IMAGE */
.box img {
  width: 120px;
  margin: 10px auto;
  display: block;
}

/* TEMP */
.box h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

/* MIN-MAX SECTION */
.min-max {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
}

.min-max p {
  font-size: 18px;
}

/* GRID INFO */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.andar {
  padding: 12px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  font-size: 16px;
}

/* BUTTON */
button {
  padding: 10px 20px;
  background: #ff3b3b;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s;
}

button:hover {
  background: #d63030;
}

/* RESPONSIVE */
@media (max-width: 450px) {
  .box h1 {
    font-size: 40px;
  }

  .min-max p {
    font-size: 16px;
  }
}
