*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
  height: 100%;width: 100%;
}
#root{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
form{
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  /* border: 1px solid black; */
  border-radius: 30px;
  /* box-shadow: rgb(red, green, blue); */
  box-shadow: 0px 4px 8px rgba(68, 54, 54, 0.247); /* A soft, subtle white shadow */
}

input{
  padding: 10px 26px;
  border: none;
  border-radius: 1rem;
  background-color: #E8F0FE;

}
label{
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-left: 1rem;
}
button{
  width: 30%;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  padding: 8px 0;
  color: white;
  border-radius: 1.2rem;
  border: none;
  background-color:crimson;
}
h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}