*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: 62.5%; */
}
h1{
  /* align-items: center; */
  text-align: center;
}
ul{
  width: 80%;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  background-color: darkblue;
  color: white;
}
button{
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: darkcyan;
  transition: 0.2s all ease;

  &:hover{
    background-color:darkgray;
  }
}
li{
  padding: 1rem;
  list-style: none;
  margin: 2rem 0;
  background-color: blue;
}
.q{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ans{
padding-top: .7rem;
}

.active{
  background-color: red;
  color: white;
   &:hover{
    background-color: crimson;
   }
}