*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body,#root{
  height: 100%;width: 100%;text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  display: grid ;
  grid-template-columns: 1fr 4fr;
  position: relative;
  overflow: hidden;
}

aside{
  background-color:rgb(30, 32, 32);
  /* width: 20%; */
  max-width: 250px;
  height: 100%;
  position: relative;
  transition: all 0.3s linear;
  /* overflow-y: hidden; */
}
section{
  height: 100%;
  width: 100%;
 padding: 1rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav{
  /* padding: 1rem; */
  /* text-align: center; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav>p{
display: none;
}
.inp{
  color: white;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: 2px solid #1f1f1f;
  border-radius: 15px;
  padding: 1rem ;
  &:hover{
    
    box-shadow: 0 0 10px wheat;
  }
}
input{
  background-color: transparent;
  border: none;
  outline: none;
  color: antiquewhite;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
}
article{
/* background-color: blue !important; */
flex: 1;
color: white;
padding: 1rem;
overflow-y:scroll ;
max-height: 74vh;
}
article::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 100%; */
}
.cross{
  /* color: #5A0E24; */
  color: #1f1f1f;
  display: none;
  /* font-weight: 800; */
}
.mainul li {
  max-width: 70%;
  padding: 1rem 1.4rem;
  line-height: 1.5;
  word-wrap: break-word;
  border-radius: 1rem;
  font-size: 1rem;
  backdrop-filter: blur(4px);
   align-self: flex-end;
   color: #d8d8d8;
   border-bottom-left-radius: 0.3rem;
   border-top-left-radius: 1.5rem;
   background: #1f1f1f;
  }
  
  /* User Question (Right side bubble) */
  .mainul .question {
    background: linear-gradient(135deg, #6366f1, #4338ca);
  align-self: end;
  
  color: white;
  text-align: right;
}

/* AI Answer (Left side bubble) */
 .mainul .answer {
  align-self: start;
  /* background: #1f1f1f; */
  background: transparent;
  color: #d8d8d8;

}

/* Group of multiple answer lines */
 .mainul .ansul {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 0.6rem;
  width: 100%;
}
.bigdlt{
  &:hover{
    color:red;
  }
}
.ansul li{
padding: 0px 30px;
/* width: 100%; */
/* max-width: 100%; */
}

/* Bold headings inside answer */
.bold {
  /* font-size: 1.2rem; */
  /* color: #ff5252; */
  font-weight: 700;
  /* margin-bottom: 6px; */
  text-transform: uppercase;
  /* text-decoration: underline; */
  color: rgb(177, 177, 141);
}
.history{
  /* padding: .7rem; */
  gap: 0px;
  /* width: 30%; */
  overflow-y: hidden;
  height: 90vh;
}
.history li{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 1.3rem; */
  font-weight: 500;
  gap: 0.5rem;
color: lightblue;
  padding: 0.3rem 1rem;
  &:hover{
    background-color: #1a1717c7;
  }
}
.heading{
  background: linear-gradient(to right,pink,purple);
  -webkit-background-clip: text;
  color: transparent;
}
.trunc{
/* max-width: 10%; */

flex:1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spinner{
  width: 100%;
  
  padding: .5rem;
  text-align: center;
}
.dlt{
  display: flex;
  align-items: center;
  padding: .2rem;
  justify-content: center;
  color: #5A0E24;
  &:hover{
    border-radius: 50%;
    background-color: black;
  }
}
aside>h2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .4rem;
  padding-top: .5rem;
}
select {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #3f3f46;
  background: transparent;
  color: blueviolet;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

select:hover {
  border-color: #8b5cf6;
}

/* select:focus {
  border-color: #a78bfa;
  box-shadow: 0 0 0 3px rgba(167, 139, 250, 0.25);
} */
select{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: capitalize;
}
.lightaside{
  background-color: khaki;
  color: #553333;
}
.lightsection{
  background-color: #EFE4D2 ;
}
.lightli{
  color: #1f1f1f !important;
}
.lightquestion{
  background-color: rgb(210, 218, 106) !important;
  color:#1f1f1f !important;
  font-weight: 500;
}
.lightu{
    color: #628141 !important;
}
.lighloom{
  color: #1f1f1f;
  border: 2px solid #1f1f1f ;
}
.sinp{
  border: 2px solid #628141;
  
}
@media (max-width:600px) {
  main{
    grid-template-columns: 1fr ;
    
  }
  .mainul>.ansul>.answer{
max-width: 100%;
  }
aside{
  position: absolute;
  /* left: -100px; */
  background-color: transparent;
  backdrop-filter: blur(10px);
  top: -100%;
  /* left: 10; */
  /* left: -150px; */
  /* font-size: .6rem; */
  
  min-width: 100%;
  z-index: 1000;

  /* &:hover{
    max-width: 150px;

  } */
}
.ansul>li{
  padding: 0 10px;
}
.inp{
  width: 85%;
}
aside h2{
  border-bottom: 1px solid wheat;
  padding-bottom: .4rem;
  /* font-size: 1rem; */
  /* gap: 10px; */
  /* flex-direction: column; */
  /* font-weight: 300; */
}
.history li{
  font-weight: 400;
  /* padding: 0.2rem 0rem;
  padding-left: 3px; */
}
.heading{
  /* padding: 1rem; */
  font-size: 30px;
  /* text-align: start; */
}
nav{
  padding-top: .5rem;
  
  justify-content: space-around;
}
nav>P{
  /* font-size: 1rem; */
  font-size: .5rem;
gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kannu{
  top: 0;
}
.cross{
  color: purple;
  display: block;
}
.light-cross{
  color: #628141;
}
}
.light{
  background-color:#EFE4D2;
}
.light-ask{
  color: #1f1f1f;
  /* font-weight: 700; */
}