*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body,#root{
  height: 100%;width: 100%;text-transform: capitalize;
}
main{
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  display: grid ;
  grid-template-columns: 1fr 4fr;
}
aside{
  background-color: aqua;
  width: 100%;
  height: 100%;
}
section{
  height: 100%;
  width: 100%;
 padding: 1rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav{
  /* padding: 1rem; */
  text-align: center;
  color: white;
}
.inp{
  color: white;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
  padding: 1rem ;
}
input{
  background-color: transparent;
  border: none;
  outline: none;
  color: antiquewhite;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
}
article{
/* background-color: blue !important; */
flex: 1;
color: white;
padding: 1rem;
overflow-y:scroll ;
max-height: 80vh;
}
article::-webkit-scrollbar {
  display: none;
}
ul{
  list-style: none;
  text-align: start;
  font-weight: 500;
  font-size: 1.1rem;
  color: wheat;
  width: 100%;
}
li{
  width: 100%;
  padding: .2rem;
}
.bold{
  font-size: 1.2rem;
  color: rgb(228, 39, 39);
  margin-top: 15px ;
  /* padding:1rem ; */
  text-transform: uppercase;
  font-weight: bolder;
}