*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body,#root{
  height: 100%;width: 100%;text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  display: grid ;
  grid-template-columns: 1fr 4fr;
}
aside{
  background-color: aqua;
  width: 100%;
  height: 100%;
}
section{
  height: 100%;
  width: 100%;
 padding: 1rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav{
  /* padding: 1rem; */
  text-align: center;
  color: white;
}
.inp{
  color: white;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
  padding: 1rem ;
}
input{
  background-color: transparent;
  border: none;
  outline: none;
  color: antiquewhite;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
}
article{
/* background-color: blue !important; */
flex: 1;
color: white;
padding: 1rem;
overflow-y:scroll ;
max-height: 80vh;
}
article::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

li {
  max-width: 70%;
  padding: 1rem 1.4rem;
  line-height: 1.5;
  word-wrap: break-word;
  border-radius: 1rem;
  font-size: 1rem;
  backdrop-filter: blur(4px);
   align-self: flex-end;
   color: #d8d8d8;
   border-bottom-left-radius: 0.3rem;
   border-top-left-radius: 1.5rem;
   background: #1f1f1f;
  }
  
  /* User Question (Right side bubble) */
  .question {
  align-self: end;
  
  background: linear-gradient(135deg, #6366f1, #4338ca);
  color: white;
  text-align: right;
}

/* AI Answer (Left side bubble) */
.answer {
  align-self: start;
  /* background: #1f1f1f; */
  background: transparent;
  color: #d8d8d8;

}

/* Group of multiple answer lines */
.ansul {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 0.6rem;
  /* width: 70%; */
}
.ansul li{
padding: 0px 30px;
/* width: 100%; */
/* max-width: 100%; */
}

/* Bold headings inside answer */
.bold {
  /* font-size: 1.2rem; */
  /* color: #ff5252; */
  font-weight: 700;
  /* margin-bottom: 6px; */
  text-transform: uppercase;
  /* text-decoration: underline; */
  color: rgb(177, 177, 141);
}
