*{
  margin: 0;padding: 0;box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  
}
#root{
  height: 100%;
  width: 100%;

}


.cont{
  width: 60%;
  /* height: 100%; */
  margin: auto;
  padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form{
width: 65%;
padding: 20px;
border-radius: 20px;
background-color: rgb(105, 105, 29);
display: flex;
align-items: center;
justify-content: center;

}

button{
  text-transform: uppercase;
  border: none;
  padding: 19px 28px;
  /* padding: 9px 18px; */
  color: white;
  background-color: green;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
input{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  border: none;
  padding: 19px 28px;
}
.list{
  min-width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input::placeholder{
  text-align: center;
  text-transform: uppercase;

}
ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
li span{
  width: 33%;
  
}
li{
  word-break: break-all;
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
 background-color: rgb(218, 218, 129);

}
h1{
  margin: 20px 0;
  text-transform: uppercase;
  color: crimson;
}
.date{
  font-size: large;
  margin-bottom: 15px;
}
.btn{
  width: 40%;
  /* margin: auto; */
margin-top: 1.5rem;
border-radius: 25px;
background-color: red;

}
@media (max-width:600px) {
  form{
width: 80%;
margin: auto;

  }
  .input{
    width: 30%;
  }
  .btn{
    width: 70%;
  }
   .cont{
    width: 100%;
   }
   .list{
    min-width: 70%;
    font-size: 10px;
   }
   li span{
    font-size: 13px;
   }
   input, button{
padding: 14px 15px;
   }
  }
  @media(max-width:1000px) {
    
    .cont{
  width: 100%;
  margin: auto;
  
    }
    .list{
      width: 40%;
      margin: none auto;
    }
  }
  @media(max-width:350px) {
    .cont,form{

      width: 100%;
    }
input{
  padding: 15px 6px;
  width:69%;
}
  }