*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}


#root{
  height: 100%;
  width: 100%;
}

.co{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;

}
.black{
  background-color: black;
  color: white;
}
.white{
  background-color: white;
  color: black;
}