/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* FORM */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 10px 18px;
  border: none;
  background: #4caf50;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

/* TODO LIST */
section {
  width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section div {
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Task text default */
section p {
    width: 25%;
  font-size: 16px;
  word-wrap: break-word;
}

/* Completed task */
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Delete & Check buttons */
.delete-btn {
  background: #e63946;
}

.check-btn {
  background: #1d3557;
}
.kalu{
  background-color: rgb(114, 77, 148);
}
